@model FinalExamNew.Dal.Oglas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Oglas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OglasId" />
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tekst" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaId" class="control-label"></label>
                <select asp-for="CenaId" class="form-control" asp-items="ViewBag.CenaId"></select>
                <span asp-validation-for="CenaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKreiranja" class="control-label"></label>
                <input asp-for="DatumKreiranja" class="form-control" />
                <span asp-validation-for="DatumKreiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

